In [36]:
import requests
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from data_management import load_tsv
from data_utils import string_encoding_to_datetime, select_by_dict, get_df_with_split_time, print_unique_values
import datetime

In [23]:
iso3_code_to_country = {}
iso3_country_to_code = {}
for index, row in pd.read_csv("data_store/ISO3.csv").iterrows():
    country = row["Country"]
    code = row['Alpha-3 code']
    
    # Exceptions in naming
    if country == 'United Kingdom of Great Britain and Northern Ireland (the)':
        country = "United Kingdom"
    if country == "Germany":
        country = "Germany (until 1990 former territory of the FRG)"
    if country == 'Netherlands (the)':
        country = "Netherlands"
    if country == "Republic of North Macedonia":
        country = "North Macedonia"
    
    iso3_code_to_country[code] = country
    iso3_country_to_code[country] = code
iso3_country_to_code

{'Afghanistan': 'AFG',
 'Albania': 'ALB',
 'Algeria': 'DZA',
 'American Samoa': 'ASM',
 'Andorra': 'AND',
 'Angola': 'AGO',
 'Anguilla': 'AIA',
 'Antarctica': 'ATA',
 'Antigua and Barbuda': 'ATG',
 'Argentina': 'ARG',
 'Armenia': 'ARM',
 'Aruba': 'ABW',
 'Australia': 'AUS',
 'Austria': 'AUT',
 'Azerbaijan': 'AZE',
 'Bahamas (the)': 'BHS',
 'Bahrain': 'BHR',
 'Bangladesh': 'BGD',
 'Barbados': 'BRB',
 'Belarus': 'BLR',
 'Belgium': 'BEL',
 'Belize': 'BLZ',
 'Benin': 'BEN',
 'Bermuda': 'BMU',
 'Bhutan': 'BTN',
 'Bolivia (Plurinational State of)': 'BOL',
 'Bonaire, Sint Eustatius and Saba': 'BES',
 'Bosnia and Herzegovina': 'BIH',
 'Botswana': 'BWA',
 'Bouvet Island': 'BVT',
 'Brazil': 'BRA',
 'British Indian Ocean Territory (the)': 'IOT',
 'Brunei Darussalam': 'BRN',
 'Bulgaria': 'BGR',
 'Burkina Faso': 'BFA',
 'Burundi': 'BDI',
 'Cabo Verde': 'CPV',
 'Cambodia': 'KHM',
 'Cameroon': 'CMR',
 'Canada': 'CAN',
 'Cayman Islands (the)': 'CYM',
 'Central African Republic (the)': 'CAF',
 'Chad': 'TCD',
 'Chile': 'CHL',
 'China': 'CHN',
 'Christmas Island': 'CXR',
 'Cocos (Keeling) Islands (the)': 'CCK',
 'Colombia': 'COL',
 'Comoros (the)': 'COM',
 'Congo (the Democratic Republic of the)': 'COD',
 'Congo (the)': 'COG',
 'Cook Islands (the)': 'COK',
 'Costa Rica': 'CRI',
 'Croatia': 'HRV',
 'Cuba': 'CUB',
 'Curaçao': 'CUW',
 'Cyprus': 'CYP',
 'Czechia': 'CZE',
 "Côte d'Ivoire": 'CIV',
 'Denmark': 'DNK',
 'Djibouti': 'DJI',
 'Dominica': 'DMA',
 'Dominican Republic (the)': 'DOM',
 'Ecuador': 'ECU',
 'Egypt': 'EGY',
 'El Salvador': 'SLV',
 'Equatorial Guinea': 'GNQ',
 'Eritrea': 'ERI',
 'Estonia': 'EST',
 'Eswatini': 'SWZ',
 'Ethiopia': 'ETH',
 'Falkland Islands (the) [Malvinas]': 'FLK',
 'Faroe Islands (the)': 'FRO',
 'Fiji': 'FJI',
 'Finland': 'FIN',
 'France': 'FRA',
 'French Guiana': 'GUF',
 'French Polynesia': 'PYF',
 'French Southern Territories (the)': 'ATF',
 'Gabon': 'GAB',
 'Gambia (the)': 'GMB',
 'Georgia': 'GEO',
 'Germany (until 1990 former territory of the FRG)': 'DEU',
 'Ghana': 'GHA',
 'Gibraltar': 'GIB',
 'Greece': 'GRC',
 'Greenland': 'GRL',
 'Grenada': 'GRD',
 'Guadeloupe': 'GLP',
 'Guam': 'GUM',
 'Guatemala': 'GTM',
 'Guernsey': 'GGY',
 'Guinea': 'GIN',
 'Guinea-Bissau': 'GNB',
 'Guyana': 'GUY',
 'Haiti': 'HTI',
 'Heard Island and McDonald Islands': 'HMD',
 'Holy See (the)': 'VAT',
 'Honduras': 'HND',
 'Hong Kong': 'HKG',
 'Hungary': 'HUN',
 'Iceland': 'ISL',
 'India': 'IND',
 'Indonesia': 'IDN',
 'Iran (Islamic Republic of)': 'IRN',
 'Iraq': 'IRQ',
 'Ireland': 'IRL',
 'Isle of Man': 'IMN',
 'Israel': 'ISR',
 'Italy': 'ITA',
 'Jamaica': 'JAM',
 'Japan': 'JPN',
 'Jersey': 'JEY',
 'Jordan': 'JOR',
 'Kazakhstan': 'KAZ',
 'Kenya': 'KEN',
 'Kiribati': 'KIR',
 "Korea (the Democratic People's Republic of)": 'PRK',
 'Korea (the Republic of)': 'KOR',
 'Kuwait': 'KWT',
 'Kyrgyzstan': 'KGZ',
 "Lao People's Democratic Republic (the)": 'LAO',
 'Latvia': 'LVA',
 'Lebanon': 'LBN',
 'Lesotho': 'LSO',
 'Liberia': 'LBR',
 'Libya': 'LBY',
 'Liechtenstein': 'LIE',
 'Lithuania': 'LTU',
 'Luxembourg': 'LUX',
 'Macao': 'MAC',
 'Madagascar': 'MDG',
 'Malawi': 'MWI',
 'Malaysia': 'MYS',
 'Maldives': 'MDV',
 'Mali': 'MLI',
 'Malta': 'MLT',
 'Marshall Islands (the)': 'MHL',
 'Martinique': 'MTQ',
 'Mauritania': 'MRT',
 'Mauritius': 'MUS',
 'Mayotte': 'MYT',
 'Mexico': 'MEX',
 'Micronesia (Federated States of)': 'FSM',
 'Moldova (the Republic of)': 'MDA',
 'Monaco': 'MCO',
 'Mongolia': 'MNG',
 'Montenegro': 'MNE',
 'Montserrat': 'MSR',
 'Morocco': 'MAR',
 'Mozambique': 'MOZ',
 'Myanmar': 'MMR',
 'Namibia': 'NAM',
 'Nauru': 'NRU',
 'Nepal': 'NPL',
 'Netherlands': 'NLD',
 'New Caledonia': 'NCL',
 'New Zealand': 'NZL',
 'Nicaragua': 'NIC',
 'Niger (the)': 'NER',
 'Nigeria': 'NGA',
 'Niue': 'NIU',
 'Norfolk Island': 'NFK',
 'Northern Mariana Islands (the)': 'MNP',
 'Norway': 'NOR',
 'Oman': 'OMN',
 'Pakistan': 'PAK',
 'Palau': 'PLW',
 'Palestine, State of': 'PSE',
 'Panama': 'PAN',
 'Papua New Guinea': 'PNG',
 'Paraguay': 'PRY',
 'Peru': 'PER',
 'Philippines (the)': 'PHL',
 'Pitcairn': 'PCN',
 'Poland': 'POL',
 'Portugal': 'PRT',
 'Puerto Rico': 'PRI',
 'Qatar': 'QAT',
 'Republic of North Macedonia': 'MKD',
 'Romania': 'ROU',
 'Russian Federation (the)': 'RUS',
 'Rwanda': 'RWA',
 'Réunion': 'REU',
 'Saint Barthélemy': 'BLM',
 'Saint Helena, Ascension and Tristan da Cunha': 'SHN',
 'Saint Kitts and Nevis': 'KNA',
 'Saint Lucia': 'LCA',
 'Saint Martin (French part)': 'MAF',
 'Saint Pierre and Miquelon': 'SPM',
 'Saint Vincent and the Grenadines': 'VCT',
 'Samoa': 'WSM',
 'San Marino': 'SMR',
 'Sao Tome and Principe': 'STP',
 'Saudi Arabia': 'SAU',
 'Senegal': 'SEN',
 'Serbia': 'SRB',
 'Seychelles': 'SYC',
 'Sierra Leone': 'SLE',
 'Singapore': 'SGP',
 'Sint Maarten (Dutch part)': 'SXM',
 'Slovakia': 'SVK',
 'Slovenia': 'SVN',
 'Solomon Islands': 'SLB',
 'Somalia': 'SOM',
 'South Africa': 'ZAF',
 'South Georgia and the South Sandwich Islands': 'SGS',
 'South Sudan': 'SSD',
 'Spain': 'ESP',
 'Sri Lanka': 'LKA',
 'Sudan (the)': 'SDN',
 'Suriname': 'SUR',
 'Svalbard and Jan Mayen': 'SJM',
 'Sweden': 'SWE',
 'Switzerland': 'CHE',
 'Syrian Arab Republic': 'SYR',
 'Taiwan (Province of China)': 'TWN',
 'Tajikistan': 'TJK',
 'Tanzania, United Republic of': 'TZA',
 'Thailand': 'THA',
 'Timor-Leste': 'TLS',
 'Togo': 'TGO',
 'Tokelau': 'TKL',
 'Tonga': 'TON',
 'Trinidad and Tobago': 'TTO',
 'Tunisia': 'TUN',
 'Turkey': 'TUR',
 'Turkmenistan': 'TKM',
 'Turks and Caicos Islands (the)': 'TCA',
 'Tuvalu': 'TUV',
 'Uganda': 'UGA',
 'Ukraine': 'UKR',
 'United Arab Emirates (the)': 'ARE',
 'United Kingdom': 'GBR',
 'United States Minor Outlying Islands (the)': 'UMI',
 'United States of America (the)': 'USA',
 'Uruguay': 'URY',
 'Uzbekistan': 'UZB',
 'Vanuatu': 'VUT',
 'Venezuela (Bolivarian Republic of)': 'VEN',
 'Viet Nam': 'VNM',
 'Virgin Islands (British)': 'VGB',
 'Virgin Islands (U.S.)': 'VIR',
 'Wallis and Futuna': 'WLF',
 'Western Sahara': 'ESH',
 'Yemen': 'YEM',
 'Zambia': 'ZMB',
 'Zimbabwe': 'ZWE',
 'Åland Islands': 'ALA'}

In [27]:
nights_spent = load_tsv("tour_occ_nim.tsv", decode=True)
countries = nights_spent["geo"].unique()
for country in countries:
    if country not in iso3_country_to_code:
        print("Warning: {0} discarded".format(country))
countries = [c for c in countries if c in iso3_country_to_code]

Warning: Euro area (EA11-2000, EA12-2006, EA13-2007, EA15-2008, EA16-2010, EA17-2013, EA18-2014, EA19) discarded
Warning: European Union - 27 countries (2007-2013) discarded
Warning: European Union - 28 countries discarded
Warning: North Macedonia discarded
Warning: Kosovo (under United Nations Security Council Resolution 1244/99) discarded

In [85]:
# Reference https://datahelpdesk.worldbank.org/knowledgebase/articles/902061-climate-data-api
# Format: http://climatedataapi.worldbank.org/climateweb/rest/v1/country/type/var/start/end/ISO3[.ext]
def get_data(field):
    country_to_data = {}
    for country in countries:
        URL = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/{0}/1980/1999/{1}".format(
            field,
            iso3_country_to_code[country]
        )
        data = requests.get(url = URL).json()
        monthVals = [el['monthVals'] for el in data]
        monthVals = pd.DataFrame(monthVals).sum().values / pd.DataFrame(monthVals).shape[0]
        country_to_data[country] = monthVals
    
    country_to_data_df = pd.DataFrame(country_to_data, index = range(1, 12+1))
    country_to_data_df = country_to_data_df.rename_axis('month').reset_index().melt(id_vars="month", var_name="country", value_name=field)
    return country_to_data_df

tas_df = get_data("tas")
pr_df = get_data("pr")

In [86]:
tas_df

     month         country        tas
0        1         Albania   4.737906
1        2         Albania   5.296609
2        3         Albania   7.577846
3        4         Albania  10.959544
4        5         Albania  15.309108
..     ...             ...        ...
427      8  United Kingdom  14.483837
428      9  United Kingdom  12.569213
429     10  United Kingdom   9.829463
430     11  United Kingdom   7.253223
431     12  United Kingdom   5.716006

[432 rows x 3 columns]

In [87]:
full_df = pd.merge(tas_df, pr_df, on=["month", "country"], how="inner")
full_df

     month         country        tas          pr
0        1         Albania   4.737906   82.500861
1        2         Albania   5.296609   65.376423
2        3         Albania   7.577846   64.389188
3        4         Albania  10.959544   56.989191
4        5         Albania  15.309108   51.310747
..     ...             ...        ...         ...
427      8  United Kingdom  14.483837   66.207411
428      9  United Kingdom  12.569213   78.247843
429     10  United Kingdom   9.829463  104.415156
430     11  United Kingdom   7.253223  110.589771
431     12  United Kingdom   5.716006  116.312520

[432 rows x 4 columns]

In [88]:
full_df[full_df["country"] == "Spain"]

     month country        tas         pr
132      1   Spain   9.765195  68.057598
133      2   Spain  10.102067  53.024258
134      3   Spain  11.476593  54.440702
135      4   Spain  12.942443  48.518018
136      5   Spain  15.344139  41.818017
137      6   Spain  18.876467  29.969587
138      7   Spain  21.763574  21.633093
139      8   Spain  21.874154  22.739978
140      9   Spain  19.729503  30.996130
141     10   Spain  16.169937  50.474815
142     11   Spain  12.999032  67.507125
143     12   Spain  10.774915  73.157593

In [93]:
all_months_to_month = [
    ("{0}M{1:02}".format(year, month), month) for year in range(1970, 2020) for month in range(1, 13)
]
all_months_to_month

[('1970M01', 1),
 ('1970M02', 2),
 ('1970M03', 3),
 ('1970M04', 4),
 ('1970M05', 5),
 ('1970M06', 6),
 ('1970M07', 7),
 ('1970M08', 8),
 ('1970M09', 9),
 ('1970M10', 10),
 ('1970M11', 11),
 ('1970M12', 12),
 ('1971M01', 1),
 ('1971M02', 2),
 ('1971M03', 3),
 ('1971M04', 4),
 ('1971M05', 5),
 ('1971M06', 6),
 ('1971M07', 7),
 ('1971M08', 8),
 ('1971M09', 9),
 ('1971M10', 10),
 ('1971M11', 11),
 ('1971M12', 12),
 ('1972M01', 1),
 ('1972M02', 2),
 ('1972M03', 3),
 ('1972M04', 4),
 ('1972M05', 5),
 ('1972M06', 6),
 ('1972M07', 7),
 ('1972M08', 8),
 ('1972M09', 9),
 ('1972M10', 10),
 ('1972M11', 11),
 ('1972M12', 12),
 ('1973M01', 1),
 ('1973M02', 2),
 ('1973M03', 3),
 ('1973M04', 4),
 ('1973M05', 5),
 ('1973M06', 6),
 ('1973M07', 7),
 ('1973M08', 8),
 ('1973M09', 9),
 ('1973M10', 10),
 ('1973M11', 11),
 ('1973M12', 12),
 ('1974M01', 1),
 ('1974M02', 2),
 ('1974M03', 3),
 ('1974M04', 4),
 ('1974M05', 5),
 ('1974M06', 6),
 ('1974M07', 7),
 ('1974M08', 8),
 ('1974M09', 9),
 ('1974M10', 10),
 ('1974M11', 11),
 ('1974M12', 12),
 ('1975M01', 1),
 ('1975M02', 2),
 ('1975M03', 3),
 ('1975M04', 4),
 ('1975M05', 5),
 ('1975M06', 6),
 ('1975M07', 7),
 ('1975M08', 8),
 ('1975M09', 9),
 ('1975M10', 10),
 ('1975M11', 11),
 ('1975M12', 12),
 ('1976M01', 1),
 ('1976M02', 2),
 ('1976M03', 3),
 ('1976M04', 4),
 ('1976M05', 5),
 ('1976M06', 6),
 ('1976M07', 7),
 ('1976M08', 8),
 ('1976M09', 9),
 ('1976M10', 10),
 ('1976M11', 11),
 ('1976M12', 12),
 ('1977M01', 1),
 ('1977M02', 2),
 ('1977M03', 3),
 ('1977M04', 4),
 ('1977M05', 5),
 ('1977M06', 6),
 ('1977M07', 7),
 ('1977M08', 8),
 ('1977M09', 9),
 ('1977M10', 10),
 ('1977M11', 11),
 ('1977M12', 12),
 ('1978M01', 1),
 ('1978M02', 2),
 ('1978M03', 3),
 ('1978M04', 4),
 ('1978M05', 5),
 ('1978M06', 6),
 ('1978M07', 7),
 ('1978M08', 8),
 ('1978M09', 9),
 ('1978M10', 10),
 ('1978M11', 11),
 ('1978M12', 12),
 ('1979M01', 1),
 ('1979M02', 2),
 ('1979M03', 3),
 ('1979M04', 4),
 ('1979M05', 5),
 ('1979M06', 6),
 ('1979M07', 7),
 ('1979M08', 8),
 ('1979M09', 9),
 ('1979M10', 10),
 ('1979M11', 11),
 ('1979M12', 12),
 ('1980M01', 1),
 ('1980M02', 2),
 ('1980M03', 3),
 ('1980M04', 4),
 ('1980M05', 5),
 ('1980M06', 6),
 ('1980M07', 7),
 ('1980M08', 8),
 ('1980M09', 9),
 ('1980M10', 10),
 ('1980M11', 11),
 ('1980M12', 12),
 ('1981M01', 1),
 ('1981M02', 2),
 ('1981M03', 3),
 ('1981M04', 4),
 ('1981M05', 5),
 ('1981M06', 6),
 ('1981M07', 7),
 ('1981M08', 8),
 ('1981M09', 9),
 ('1981M10', 10),
 ('1981M11', 11),
 ('1981M12', 12),
 ('1982M01', 1),
 ('1982M02', 2),
 ('1982M03', 3),
 ('1982M04', 4),
 ('1982M05', 5),
 ('1982M06', 6),
 ('1982M07', 7),
 ('1982M08', 8),
 ('1982M09', 9),
 ('1982M10', 10),
 ('1982M11', 11),
 ('1982M12', 12),
 ('1983M01', 1),
 ('1983M02', 2),
 ('1983M03', 3),
 ('1983M04', 4),
 ('1983M05', 5),
 ('1983M06', 6),
 ('1983M07', 7),
 ('1983M08', 8),
 ('1983M09', 9),
 ('1983M10', 10),
 ('1983M11', 11),
 ('1983M12', 12),
 ('1984M01', 1),
 ('1984M02', 2),
 ('1984M03', 3),
 ('1984M04', 4),
 ('1984M05', 5),
 ('1984M06', 6),
 ('1984M07', 7),
 ('1984M08', 8),
 ('1984M09', 9),
 ('1984M10', 10),
 ('1984M11', 11),
 ('1984M12', 12),
 ('1985M01', 1),
 ('1985M02', 2),
 ('1985M03', 3),
 ('1985M04', 4),
 ('1985M05', 5),
 ('1985M06', 6),
 ('1985M07', 7),
 ('1985M08', 8),
 ('1985M09', 9),
 ('1985M10', 10),
 ('1985M11', 11),
 ('1985M12', 12),
 ('1986M01', 1),
 ('1986M02', 2),
 ('1986M03', 3),
 ('1986M04', 4),
 ('1986M05', 5),
 ('1986M06', 6),
 ('1986M07', 7),
 ('1986M08', 8),
 ('1986M09', 9),
 ('1986M10', 10),
 ('1986M11', 11),
 ('1986M12', 12),
 ('1987M01', 1),
 ('1987M02', 2),
 ('1987M03', 3),
 ('1987M04', 4),
 ('1987M05', 5),
 ('1987M06', 6),
 ('1987M07', 7),
 ('1987M08', 8),
 ('1987M09', 9),
 ('1987M10', 10),
 ('1987M11', 11),
 ('1987M12', 12),
 ('1988M01', 1),
 ('1988M02', 2),
 ('1988M03', 3),
 ('1988M04', 4),
 ('1988M05', 5),
 ('1988M06', 6),
 ('1988M07', 7),
 ('1988M08', 8),
 ('1988M09', 9),
 ('1988M10', 10),
 ('1988M11', 11),
 ('1988M12', 12),
 ('1989M01', 1),
 ('1989M02', 2),
 ('1989M03', 3),
 ('1989M04', 4),
 ('1989M05', 5),
 ('1989M06', 6),
 ('1989M07', 7),
 ('1989M08', 8),
 ('1989M09', 9),
 ('1989M10', 10),
 ('1989M11', 11),
 ('1989M12', 12),
 ('1990M01', 1),
 ('1990M02', 2),
 ('1990M03', 3),
 ('1990M04', 4),
 ('1990M05', 5),
 ('1990M06', 6),
 ('1990M07', 7),
 ('1990M08', 8),
 ('1990M09', 9),
 ('1990M10', 10),
 ('1990M11', 11),
 ('1990M12', 12),
 ('1991M01', 1),
 ('1991M02', 2),
 ('1991M03', 3),
 ('1991M04', 4),
 ('1991M05', 5),
 ('1991M06', 6),
 ('1991M07', 7),
 ('1991M08', 8),
 ('1991M09', 9),
 ('1991M10', 10),
 ('1991M11', 11),
 ('1991M12', 12),
 ('1992M01', 1),
 ('1992M02', 2),
 ('1992M03', 3),
 ('1992M04', 4),
 ('1992M05', 5),
 ('1992M06', 6),
 ('1992M07', 7),
 ('1992M08', 8),
 ('1992M09', 9),
 ('1992M10', 10),
 ('1992M11', 11),
 ('1992M12', 12),
 ('1993M01', 1),
 ('1993M02', 2),
 ('1993M03', 3),
 ('1993M04', 4),
 ('1993M05', 5),
 ('1993M06', 6),
 ('1993M07', 7),
 ('1993M08', 8),
 ('1993M09', 9),
 ('1993M10', 10),
 ('1993M11', 11),
 ('1993M12', 12),
 ('1994M01', 1),
 ('1994M02', 2),
 ('1994M03', 3),
 ('1994M04', 4),
 ('1994M05', 5),
 ('1994M06', 6),
 ('1994M07', 7),
 ('1994M08', 8),
 ('1994M09', 9),
 ('1994M10', 10),
 ('1994M11', 11),
 ('1994M12', 12),
 ('1995M01', 1),
 ('1995M02', 2),
 ('1995M03', 3),
 ('1995M04', 4),
 ('1995M05', 5),
 ('1995M06', 6),
 ('1995M07', 7),
 ('1995M08', 8),
 ('1995M09', 9),
 ('1995M10', 10),
 ('1995M11', 11),
 ('1995M12', 12),
 ('1996M01', 1),
 ('1996M02', 2),
 ('1996M03', 3),
 ('1996M04', 4),
 ('1996M05', 5),
 ('1996M06', 6),
 ('1996M07', 7),
 ('1996M08', 8),
 ('1996M09', 9),
 ('1996M10', 10),
 ('1996M11', 11),
 ('1996M12', 12),
 ('1997M01', 1),
 ('1997M02', 2),
 ('1997M03', 3),
 ('1997M04', 4),
 ('1997M05', 5),
 ('1997M06', 6),
 ('1997M07', 7),
 ('1997M08', 8),
 ('1997M09', 9),
 ('1997M10', 10),
 ('1997M11', 11),
 ('1997M12', 12),
 ('1998M01', 1),
 ('1998M02', 2),
 ('1998M03', 3),
 ('1998M04', 4),
 ('1998M05', 5),
 ('1998M06', 6),
 ('1998M07', 7),
 ('1998M08', 8),
 ('1998M09', 9),
 ('1998M10', 10),
 ('1998M11', 11),
 ('1998M12', 12),
 ('1999M01', 1),
 ('1999M02', 2),
 ('1999M03', 3),
 ('1999M04', 4),
 ('1999M05', 5),
 ('1999M06', 6),
 ('1999M07', 7),
 ('1999M08', 8),
 ('1999M09', 9),
 ('1999M10', 10),
 ('1999M11', 11),
 ('1999M12', 12),
 ('2000M01', 1),
 ('2000M02', 2),
 ('2000M03', 3),
 ('2000M04', 4),
 ('2000M05', 5),
 ('2000M06', 6),
 ('2000M07', 7),
 ('2000M08', 8),
 ('2000M09', 9),
 ('2000M10', 10),
 ('2000M11', 11),
 ('2000M12', 12),
 ('2001M01', 1),
 ('2001M02', 2),
 ('2001M03', 3),
 ('2001M04', 4),
 ('2001M05', 5),
 ('2001M06', 6),
 ('2001M07', 7),
 ('2001M08', 8),
 ('2001M09', 9),
 ('2001M10', 10),
 ('2001M11', 11),
 ('2001M12', 12),
 ('2002M01', 1),
 ('2002M02', 2),
 ('2002M03', 3),
 ('2002M04', 4),
 ('2002M05', 5),
 ('2002M06', 6),
 ('2002M07', 7),
 ('2002M08', 8),
 ('2002M09', 9),
 ('2002M10', 10),
 ('2002M11', 11),
 ('2002M12', 12),
 ('2003M01', 1),
 ('2003M02', 2),
 ('2003M03', 3),
 ('2003M04', 4),
 ('2003M05', 5),
 ('2003M06', 6),
 ('2003M07', 7),
 ('2003M08', 8),
 ('2003M09', 9),
 ('2003M10', 10),
 ('2003M11', 11),
 ('2003M12', 12),
 ('2004M01', 1),
 ('2004M02', 2),
 ('2004M03', 3),
 ('2004M04', 4),
 ('2004M05', 5),
 ('2004M06', 6),
 ('2004M07', 7),
 ('2004M08', 8),
 ('2004M09', 9),
 ('2004M10', 10),
 ('2004M11', 11),
 ('2004M12', 12),
 ('2005M01', 1),
 ('2005M02', 2),
 ('2005M03', 3),
 ('2005M04', 4),
 ('2005M05', 5),
 ('2005M06', 6),
 ('2005M07', 7),
 ('2005M08', 8),
 ('2005M09', 9),
 ('2005M10', 10),
 ('2005M11', 11),
 ('2005M12', 12),
 ('2006M01', 1),
 ('2006M02', 2),
 ('2006M03', 3),
 ('2006M04', 4),
 ('2006M05', 5),
 ('2006M06', 6),
 ('2006M07', 7),
 ('2006M08', 8),
 ('2006M09', 9),
 ('2006M10', 10),
 ('2006M11', 11),
 ('2006M12', 12),
 ('2007M01', 1),
 ('2007M02', 2),
 ('2007M03', 3),
 ('2007M04', 4),
 ('2007M05', 5),
 ('2007M06', 6),
 ('2007M07', 7),
 ('2007M08', 8),
 ('2007M09', 9),
 ('2007M10', 10),
 ('2007M11', 11),
 ('2007M12', 12),
 ('2008M01', 1),
 ('2008M02', 2),
 ('2008M03', 3),
 ('2008M04', 4),
 ('2008M05', 5),
 ('2008M06', 6),
 ('2008M07', 7),
 ('2008M08', 8),
 ('2008M09', 9),
 ('2008M10', 10),
 ('2008M11', 11),
 ('2008M12', 12),
 ('2009M01', 1),
 ('2009M02', 2),
 ('2009M03', 3),
 ('2009M04', 4),
 ('2009M05', 5),
 ('2009M06', 6),
 ('2009M07', 7),
 ('2009M08', 8),
 ('2009M09', 9),
 ('2009M10', 10),
 ('2009M11', 11),
 ('2009M12', 12),
 ('2010M01', 1),
 ('2010M02', 2),
 ('2010M03', 3),
 ('2010M04', 4),
 ('2010M05', 5),
 ('2010M06', 6),
 ('2010M07', 7),
 ('2010M08', 8),
 ('2010M09', 9),
 ('2010M10', 10),
 ('2010M11', 11),
 ('2010M12', 12),
 ('2011M01', 1),
 ('2011M02', 2),
 ('2011M03', 3),
 ('2011M04', 4),
 ('2011M05', 5),
 ('2011M06', 6),
 ('2011M07', 7),
 ('2011M08', 8),
 ('2011M09', 9),
 ('2011M10', 10),
 ('2011M11', 11),
 ('2011M12', 12),
 ('2012M01', 1),
 ('2012M02', 2),
 ('2012M03', 3),
 ('2012M04', 4),
 ('2012M05', 5),
 ('2012M06', 6),
 ('2012M07', 7),
 ('2012M08', 8),
 ('2012M09', 9),
 ('2012M10', 10),
 ('2012M11', 11),
 ('2012M12', 12),
 ('2013M01', 1),
 ('2013M02', 2),
 ('2013M03', 3),
 ('2013M04', 4),
 ('2013M05', 5),
 ('2013M06', 6),
 ('2013M07', 7),
 ('2013M08', 8),
 ('2013M09', 9),
 ('2013M10', 10),
 ('2013M11', 11),
 ('2013M12', 12),
 ('2014M01', 1),
 ('2014M02', 2),
 ('2014M03', 3),
 ('2014M04', 4),
 ('2014M05', 5),
 ('2014M06', 6),
 ('2014M07', 7),
 ('2014M08', 8),
 ('2014M09', 9),
 ('2014M10', 10),
 ('2014M11', 11),
 ('2014M12', 12),
 ('2015M01', 1),
 ('2015M02', 2),
 ('2015M03', 3),
 ('2015M04', 4),
 ('2015M05', 5),
 ('2015M06', 6),
 ('2015M07', 7),
 ('2015M08', 8),
 ('2015M09', 9),
 ('2015M10', 10),
 ('2015M11', 11),
 ('2015M12', 12),
 ('2016M01', 1),
 ('2016M02', 2),
 ('2016M03', 3),
 ('2016M04', 4),
 ('2016M05', 5),
 ('2016M06', 6),
 ('2016M07', 7),
 ('2016M08', 8),
 ('2016M09', 9),
 ('2016M10', 10),
 ('2016M11', 11),
 ('2016M12', 12),
 ('2017M01', 1),
 ('2017M02', 2),
 ('2017M03', 3),
 ('2017M04', 4),
 ('2017M05', 5),
 ('2017M06', 6),
 ('2017M07', 7),
 ('2017M08', 8),
 ('2017M09', 9),
 ('2017M10', 10),
 ('2017M11', 11),
 ('2017M12', 12),
 ('2018M01', 1),
 ('2018M02', 2),
 ('2018M03', 3),
 ('2018M04', 4),
 ('2018M05', 5),
 ('2018M06', 6),
 ('2018M07', 7),
 ('2018M08', 8),
 ('2018M09', 9),
 ('2018M10', 10),
 ('2018M11', 11),
 ('2018M12', 12),
 ('2019M01', 1),
 ('2019M02', 2),
 ('2019M03', 3),
 ('2019M04', 4),
 ('2019M05', 5),
 ('2019M06', 6),
 ('2019M07', 7),
 ('2019M08', 8),
 ('2019M09', 9),
 ('2019M10', 10),
 ('2019M11', 11),
 ('2019M12', 12)]

        time  month
0    1970M01      1
1    1970M02      2
2    1970M03      3
3    1970M04      4
4    1970M05      5
..       ...    ...
595  2019M08      8
596  2019M09      9
597  2019M10     10
598  2019M11     11
599  2019M12     12

[600 rows x 2 columns]

In [101]:
extrapolated_df = pd.merge(pd.DataFrame(all_months_to_month, columns=["time", "month"]), full_df, on="month", how="inner")
extrapolated_df = extrapolated_df.sort_values(["country", "time"])
extrapolated_df

          time  month         country        tas          pr
0      1970M01      1         Albania   4.737906   82.500861
1800   1970M02      2         Albania   5.296609   65.376423
3600   1970M03      3         Albania   7.577846   64.389188
5400   1970M04      4         Albania  10.959544   56.989191
7200   1970M05      5         Albania  15.309108   51.310747
...        ...    ...             ...        ...         ...
14399  2019M08      8  United Kingdom  14.483837   66.207411
16199  2019M09      9  United Kingdom  12.569213   78.247843
17999  2019M10     10  United Kingdom   9.829463  104.415156
19799  2019M11     11  United Kingdom   7.253223  110.589771
21599  2019M12     12  United Kingdom   5.716006  116.312520

[21600 rows x 5 columns]

In [102]:
extrapolated_df.to_csv("data_store/climate.tsv", sep='\t')